header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto; /* 10rem */
  /*     background-image: url(../Assets/gradient.svg); */
  background-color: #ffffff;
  padding-block: 5vh;
  align-self: center;
  align-items: center;
  /*     padding-bottom: 10rem; */
}

.logo {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 1.5rem;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: "Raleway";
}

nav > ul {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  align-items: center;
  justify-content: center;
}
nav > ul > li {
  color: rgb(0, 0, 0);
  list-style: none;
  font-family: "Raleway";
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

nav > ul > li:hover {
  color: rgb(155, 102, 61);
}

nav > ul > li > .button-header {
  padding: 8px 20px;
  border-radius: 16px;
  border: none;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  color: black;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.843);
  transition: all 0.3s ease 0s;
}

nav > ul > li > .button-header:hover {
  background-color: rgb(155, 102, 61);
}


nav > .hamburger_menu {
  display: none;
  cursor: pointer;
}

.intro {
  text-align: center;
  margin-top: 140px;
  cursor: pointer;
  margin-bottom: 5rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  font-family: "Raleway";
}

footer > h1 {
  font-family: "Vogue";
  font-size: 20px;
  margin-left: 120px;
  padding-top: 50px;
}

footer > h1 {
  cursor: pointer;
}

.cont {
  display: flex;
  gap: 130px;
  padding: 100px 20px;
}

.service {
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0 100px;
}

.service > ul {
  list-style-type: none;
  line-height: 1.8;
  font-size: 14px;
  cursor: pointer;
}

.legal {
  flex-grow: 1;
  flex-basis: 100%;
}

.legal > ul {
  list-style-type: none;
  line-height: 1.8;
  font-size: 14px;
  cursor: pointer;
}

.kontakt {
  flex-grow: 1;
  flex-basis: 100%;
}

.kontakt > ul {
  list-style-type: none;
  line-height: 1.8;
  font-size: 14px;
}

.kontakt > ul > li > img {
  margin-top: 20px;
}

footer > p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.cont > p {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .cont {
    flex-direction: column;
    text-align: center;
    gap: 70px;
  }
}

@media only screen and (max-width: 700px) {
  footer > h1 {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  nav > img {
    width: 400px;
  }
}

@media (max-width: 700px) {
  nav ul {
    display: none;
  }
  nav .hamburger_menu {
    max-width: 40px;
    display: flex;
  }

  nav {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
