@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/vogue");

html {
    font-size: 10px;
  }

body {
    background-color: #E5DED2;
    margin-left: 0rem;
    margin-right: 0rem;
  }

.container-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
}

.gallery-top {
    width: 30%;
}

.container-body {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 5rem;
}

/* .gallery-body {
  display: inline block;
  width: 50%;
  flex: 1;
} */

.textbox {
  text-align: left;
}

h2, p{
  margin-left: 4rem;
  margin-right: 4rem;
}

h2 {
  font-size: 5rem;
  font-family: 'Vogue', sans-serif;
}
p {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

#textbox-2 img {
    display: flex;
    width: 100%;
    height: 100%;
    align-self:center;
    text-align: left;
}

#blocks {
    display: flex;
}

#blocks div .one .two .three .four .five .six .seven {
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-flow: row wrap;
  
}

#about {
  width: 100%;
  height: auto;
  align-self:flex-start;
  text-align: left;
  order: 4;
  text-indent: 5rem;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 2rem;
  align-self: end;
  max-height: 53px;
}

button {
  background-color: #915b3f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 4px;
  border: 2px solid #915b3f;
}

button:hover {
  background-color: #E5DED2;
  color: #000000;
}


.picture-one {order: 1; width: 50%;}
.picture-two {order: 4; width: 50%;}
.picture-three {order: 5; width: 50%;}
.picture-four {order: 9; width: 50%;}
.picture-five {order: 10; width: 50%;}
.picture-six {order: 13; width: 50%;}
.picture-seven {order: 7;}
.picture-eight {order: 14;}
.picture-nine {order:15; width: 50%;}

#textbox-one {order: 2; width: 50%;}
#textbox-two {order: 3; width: 50%;}
#textbox-three {order: 6; width: 50%;}
#textbox-four {order: 8; width: 50%;}
#textbox-five {order: 11; width: 50%;}
#textbox-six {order: 12; width: 50%;}
#textbox-seven {order:16; width:50%;}


@media screen and (max-width: 700px) {

    .picture-one {order: 1; width: 100%;}
    .picture-two {order: 3; width: 100%;}
    .picture-three {order: 5; width: 100%;}
    .picture-four {order: 7; width: 100%;}
    .picture-five {order: 9; width: 100%;}
    .picture-six {order: 11; width: 100%;}
    .picture-seven {display: none;}
    .picture-eight {display: none;}
    .picture-nine {order:15; width: 100%;}
    
    #textbox-one {order: 2; width: 100%;}
    #textbox-two {order: 4; width: 100%;}
    #textbox-three {order: 6; width: 100%;}
    #textbox-four {order: 8; width: 100%;}
    #textbox-five {order: 10; width: 100%;}
    #textbox-six {order: 12; width: 100%;}
    #textbox-seven {order:16; width:100%;}

    .textbox {
        width: 50%;
        height: auto;
        margin-bottom: 2rem;
        align-self: center;
        text-align: center;
        align-content: center;
        font-size: 2rem;
      }

      .container-top {
        display: none;

    }
}